@{

    ViewData["Title"] = "Logout";
    var url = ViewBag.ReturnUrl;
}


<div class="row">

    <div class="col-md-12">
        <h3>Tem certeza que deseja sair?</h3>
        <form a method="post" asp-controller="Account" asp-action="Logout">
            <button type="submit" formaction="account/Logout" class="btn btn-lg btn-danger">Sim</button>
            <a asp-action="Cancel" asp-route-returnUrl="@url" class="btn btn-lg btn-warning">Cancelar</a>
        </form>

    </div>

</div>